.idea/
*/apicache
update-bot/logs
*.pyc
*.egg-info
*/throttle.ctrl
update-bot/Denkmallistenliste.txt
update-bot/local_family.py
**/pywikibot.lwp
*/user-config.py
forward_script/vendor
forward_script/cache
forward_script/app_settings.local.php
**/monitor_response.lastnotify.txt
**/*.log
