.idea/
*/apicache
update-bot/logs
*.pyc
*.egg-info
*/throttle.ctrl
update-bot/Denkmallistenliste.txt
update-bot/local_family.py
**/pywikibot.lwp
*/user-config.py
**/vendor
**/monitor_response.lastnotify.txt
**/*.log
