import os

# Run 'openssl rand -base64 32' to generate a random string and put in in here
REDIS_CACHE_PREFIX=""
REDIS_HOST="tools-redis"

ACCESS_LOG=os.path.join(os.path.dirname(os.path.realpath(__file__)), 'access.log')
